{
  "name": "@shunkakinoki/{{lowerCase name}}",
  "version": "1.0.0",
  "private": false,
  "repository": {
    "type": "git",
    "url": "https://github.com/shunkakinoki/contracts.git"
  },
  "publishConfig": {
    "access": "public",
    "registry": "https://registry.npmjs.org"
  },
  "publishConfig": {
    "access": "public",
    "registry": "https://registry.npmjs.org"
  },
  "files": [
    "src"
  ],
  "scripts": {
    "fix": "cd ../.. && yarn run fix"
  }
}
